$primary-color: #ebc1d5;
$second-color: #aa60a6;
$third-color: rgb(214, 214, 214);
$gradient: linear-gradient(45deg, #634ba7, #eba8c3);
$scrollbar-gradient: linear-gradient(to top, #634ba7, #eba8c3);
