@import "colors";
@import "links";

.gallery{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.gallery_option{
    width: 500px;
    height: 350px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: box-shadow 1s;
}

.gallery_option:hover{
    box-shadow: inset 0px 0px 0px 200px rgba(124, 77, 101, 0.85);
}

.gallery_option::after{
    opacity: 0;
    border-radius: 7px;
    transition: box-shadow 1s, font-size .5s, opacity 1s;
}

.gallery_option:hover::after{
    width: 55%;
    height: 55%;
    display: block;
    white-space: pre;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#samochody{
    background-image: url(../../img/Samochody.jpg); 
}

#samochody::after{
    content: "SAMOCHODY";
}

#eventy{
    background-image: url(../../img/Eventy.jpg);
}

#eventy::after{
    content: "EVENTY";
}

#taneczne{
    background-image: url(../../img/Taneczne.jpg);
}

#taneczne::after{
    content: "TANECZNE";
}

#portrety{
    background-image: url(../../img/Portrety.jpg);
}

#portrety::after{
    content: "PORTRETY";
}

#imprezy{
    background-image: url(../../img/Imprezy.jpg);
}

#imprezy::after{
    content: "IMPREZY";
}

#sluby{
    background-image: url(../../img/Sluby.jpg);
}

#sluby::after{
    content: "ŚLUBY";
}