@import "colors";

.navbar{
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.menu_option{
    list-style-type: none;
    width: 200px;
    height: 40px;
    border: 2px solid black;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Style script;
    font-size: 24px;
    color: black;
}

.menu_option:hover{
    cursor: pointer;
    color: $third-color;
    border-color: $third-color;
}

a{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    box-sizing: content-box;
}